<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs
   -->
  <meta charset="utf-8">
  {% if title %}
   <title>{{ title }}</title>
  {% endif %}
<!-- Mobile Specific Metas
   -->
  <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no, user-scalable=no">
<!-- FONT
  -->    
   <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/skeleton.css">
   <link rel="icon" type="image/png" href="/css/logo.png">
   <link rel="stylesheet" href="/css/nav.css">

</head>
<body>
<div class="container">
                     
   <header class="header">
                     
         <nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"><span class="fs-4">DREXEL CI 10X ARCHIVE</span></a>

            <ul class="nav nav-pills">
               <li class="nav-item">
                     <a href="/logout" class="nav-link active" aria-current="page">Log Out</a>
               </li>
               <li class="nav-item">
                     <a href="/profile" class="nav-link">Profile</a>
               </li>
            </ul>
                                    
         </nav>
                              
   </header>

   <!-- Primary Page Layout
      -->
   <div style="margin-top:5%; margin-left:5%">
   <div style="width:100%;">
   <div style="width: 80%; height: 100px; float: left;">
      {% with messages = get_flashed_messages(with_categories=True)%}
   {% if messages %}
   {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
      <h5>{{ message }}<h5>
      </div>
   {% endfor %}
   {% endif %}
      {% endwith %}
      {% block info %}
      {% endblock %}
   </div>
   </div>
   </div>
</div>
<!-- End Document
   -->
</body>
</html>