{% extends 'student_home.html' %}

{% block content %}
    <h1>{% block title %} {{project.project_name }} {% endblock %}</h1>
        <div class='message'>
            <p>Academic Year: {{ project.academic_year }}</p>
            <p>Lab Number: {{ project.lab_number }}</p>
            <p>Project Name: {{ project.project_name }}</p>
            <p>Project Description: {{ project.project_description }}</p>
            <p>Project Owner: {{ project.project_owner }}</p>
        </div>
{% endblock %}